:root {
    --main-background: #222;
    --button-background: #777;
    --hovered-button: #444;
    --accent-color: #fefe00;
}

a {
    text-decoration: none;
    font-family: Roboto;
}

a.link.yel {
    animation-name: yel;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

a.link.whi {
    animation-name: whi;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

body {
    background-color: var(--main-background);
}

p {
    color: #fff;
    font-family: Roboto;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mid {
    text-align: center;
}

.bottom {
    text-align: center;
    position: absolute;
    bottom: 1vw;
    left: 50%;
    transform: translateX(-50%);
}

.underTop {
    padding-top: 7vw;
}

#titleDiv {
    display: inline-block;
    overflow: hidden;
}

#quote {
    font-style: italic;
}

#bottomRight {
    display: flex;
    position: absolute;
    bottom: 1vh;
}

#mainBox {
    position: fixed;
    text-align: center;
}

#buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .6rem;
}

.button {
    color:white;
    width: 5.5rem;
    height: 1.2rem;
    padding: .7rem 1.2rem;
    flex: 1 0 40%;
    background: var(--button-background);
    border-radius: 1px;
    border-color: white;
}

@keyframes yel {
    from {
        color: white;
        background: var(--button-background);
    }
    to {
        color: var(--accent-color);
        background: var(--hovered-button);
    }
}

@keyframes whi {
    from {
        color: var(--accent-color);
        background: var(--hovered-button);
    }
    to {
        color: white;
        background: var(--button-background);
    }
}